
@{
    ViewData["Title"] = "Orders";
}
@model IEnumerable<OrderViewModel>

<div style="height: 100%; display: flex; flex-direction: column; justify-content: space-between;">
    <div class="tablez" style="margin-top: 10px">
        <h1 style="text-align: center;">Pending Orders</h1>
        @{var itemCount = 0; }
        @foreach (var item in Model)
        {
            if (item.Status == "Pending")
            {
                itemCount += 1;
        <table class="table" style="width: 80%; margin: auto; table-layout: fixed; margin-bottom: 25px; @(itemCount % 2 == 0 ? "background-color:#fefefe" : "") ">
            <tr style="border-bottom:double">
                <th colspan="1">Name</th>
                <td>@item.Name</td>
                <th colspan="1">Order Time</th>
                <td>@item.CreateTime.ToLocalTime().ToString("hh:mm tt")</td>

                <th colspan="1">Complete Time</th>
                <td>
                    @if (item.CompleteTime?.ToLocalTime() > item.CreateTime)
                    {
                        item.CompleteTime?.ToLocalTime().ToString("hh:mm tt");
                    }
                    else
                    {
                        <div>N/A</div>
                    }
                </td>
                <th colspan="1">Status</th>
                <td>
                    @item.Status
                </td>
            </tr>
            <tr>
                <th colspan="2">Order</th>
                <th colspan="4">Toppings</th>
                <th colspan="1">Size</th>
                <th colspan="1">Quantity</th>

            </tr>
            @foreach (var orderItem in item.OrderItems)
            {
                <tr>

                    <td colspan="2">
                        @orderItem.MenuItem.Name
                    </td>
                    <td colspan="4" style="word-wrap:normal">
                        @if (orderItem.OrderItemTopping != null)
                        {
                            var last = orderItem.OrderItemTopping.Last();
                            foreach (var topping in orderItem.OrderItemTopping)
                            {
                                if (topping == last)
                                {
                                    <Text>@topping.Topping.ToppingName</Text>
                                }
                                else
                                {
                                    <Text>@topping.Topping.ToppingName, </Text>
                                }
                            }
                        }
                    </td>
                    @if (orderItem.Size != null)
                    {
                        <td colspan="1">
                            @orderItem.Size.MainValue
                        </td>
                    }
                    else
                    {
                        <td colspan="1">N/A</td>
                    }
                    <td colspan="1">
                        @orderItem.Quantity.ToString()
                    </td>

                </tr>
            }
            <tr style="border-bottom:dotted; border-top:double">
                <th colspan="1">
                    Community
                </th>
                <td colspan="2">@item.Community.Name</td>
                <th>Note</th>
                <td colspan="3" style="word-wrap:break-word">
                    @item.Note
                </td>
                <td colspan="1">
                    <button type="button" class="btn btn-primary" typeof="submit" onclick="location.href = '@Url.Action("Start", "Orders", new { orderId = item.Id })'">Start Order</button>
                </td>
            </tr>
        </table>
            }
        }
                </div>
                <div class="tablez" style="margin-top: 10px">
                    <h1 style="text-align: center;">Pending Orders</h1>
                    @{var itemStartedCount = 0; }
                    @foreach (var item in Model)
                    {
                        if (item.Status == "Started")
                        {
                            itemStartedCount += 1;
                    <table class="table" style="width: 80%; margin: auto; table-layout: fixed; margin-bottom: 25px; @(itemStartedCount % 2 == 0 ? "background-color:#fefefe" :"") ">
                        <tr style="border-bottom:double">
                            <th colspan="1">Name</th>
                            <td>@item.Name</td>
                            <th colspan="1">Order Time</th>
                            <td>@item.CreateTime.ToLocalTime().ToString("hh:mm tt")</td>

                            <th colspan="1">Complete Time</th>
                            <td>
                                @if (item.CompleteTime?.ToLocalTime() > item.CreateTime)
                                {
                                    item.CompleteTime?.ToLocalTime().ToString("hh:mm tt");
                                }
                                else
                                {
                                    <div>N/A</div>
                                }
                            </td>
                            <th colspan="1">Status</th>
                            <td>
                                @item.Status
                            </td>
                        </tr>
                        <tr>
                            <th colspan="2">Order</th>
                            <th colspan="4">Toppings</th>
                            <th colspan="1">Size</th>
                            <th colspan="1">Quantity</th>

                        </tr>
                        @foreach (var orderItem in item.OrderItems)
                        {
                            <tr>

                                <td colspan="2">
                                    @orderItem.MenuItem.Name
                                </td>
                                <td colspan="4" style="word-wrap:normal">
                                    @if (orderItem.OrderItemTopping != null)
                                    {
                                        var last = orderItem.OrderItemTopping.Last();
                                        foreach (var topping in orderItem.OrderItemTopping)
                                        {
                                            if (topping == last)
                                            {
                                                <Text>@topping.Topping.ToppingName</Text>
                                            }
                                            else
                                            {
                                                <Text>@topping.Topping.ToppingName, </Text>
                                            }
                                        }
                                    }
                                </td>
                                @if (orderItem.Size != null)
                                {
                                    <td colspan="1">
                                        @orderItem.Size.MainValue
                                    </td>
                                }
                                else
                                {
                                    <td colspan="1">N/A</td>
                                }
                                <td colspan="1">
                                    @orderItem.Quantity.ToString()
                                </td>

                            </tr>
                        }
                        <tr style="border-bottom:dotted; border-top:double">
                            <th colspan="1">
                                Community
                            </th>
                            <td colspan="2">@item.Community.Name</td>
                            <th>Note</th>
                            <td colspan="3" style="word-wrap:break-word">
                                @item.Note
                            </td>
                            <td colspan="1">
                                <button type="button" class="btn btn-warning" typeof="submit" onclick="location.href = '@Url.Action("Complete", "Orders", new { orderId = item.Id })'">Complete Order</button>
                            </td>
                        </tr>
                    </table>
                        }
                    }
                    </div>
                    <div class="tablez" style="margin-top: 10px">
                        <h1 style="text-align: center;">Completed Orders</h1>
                        @{var itemCompletedCount = 0; }
                        @foreach (var item in Model)
                        {
                            if (item.Status == "Complete" && item.CompleteTime?.AddHours(6) > DateTime.UtcNow )
                            {
                                itemCompletedCount += 1;
                        <table class="table" style="width: 80%; margin: auto; table-layout: fixed; margin-bottom: 25px; @(itemCompletedCount % 2 == 0 ? "background-color:#fefefe" : "") ">
                            <tr style="border-bottom:double">
                                <th colspan="1">Name</th>
                                <td>@item.Name</td>
                                <th colspan="1">Order Time</th>
                                <td>@item.CreateTime.ToLocalTime().ToString("hh:mm tt")</td>

                                <th colspan="1">Complete Time</th>
                                <td>
                                    @if (item.CompleteTime?.ToLocalTime() > item.CreateTime)
                                    {
                                        item.CompleteTime?.ToLocalTime().ToString("hh:mm tt");
                                    }
                                    else
                                    {
                                        <div>N/A</div>
                                    }
                                </td>
                                <th colspan="1">Status</th>
                                <td>
                                    @item.Status
                                </td>
                            </tr>
                            <tr>
                                <th colspan="2">Order</th>
                                <th colspan="4">Toppings</th>
                                <th colspan="1">Size</th>
                                <th colspan="1">Quantity</th>

                            </tr>
                            @foreach (var orderItem in item.OrderItems)
                            {
                                <tr>

                                    <td colspan="2">
                                        @orderItem.MenuItem.Name
                                    </td>
                                    <td colspan="4" style="word-wrap:normal">
                                        @if (orderItem.OrderItemTopping != null)
                                        {
                                            var last = orderItem.OrderItemTopping.Last();
                                            foreach (var topping in orderItem.OrderItemTopping)
                                            {
                                                if (topping == last)
                                                {
                                                    <Text>@topping.Topping.ToppingName</Text>
                                                }
                                                else
                                                {
                                                    <Text>@topping.Topping.ToppingName, </Text>
                                                }
                                            }
                                        }
                                    </td>
                                    @if (orderItem.Size != null)
                                    {
                                        <td colspan="1">
                                            @orderItem.Size.MainValue
                                        </td>
                                    }
                                    else
                                    {
                                        <td colspan="1">N/A</td>
                                    }
                                    <td colspan="1">
                                        @orderItem.Quantity.ToString()
                                    </td>

                                </tr>
                            }
                            <tr style="border-bottom:dotted; border-top:double">
                                <th colspan="1">
                                    Community
                                </th>
                                <td colspan="2">@item.Community.Name</td>
                                <th>Special Instructions</th>
                                <td colspan="3" style="word-wrap:break-word">
                                    @item.Note
                                </td>
                                <td colspan="1">
                                    <button type="button" class="btn btn-warning" typeof="submit" onclick="location.href = '@Url.Action("Re-Open", "Orders", new { orderId = item.Id })'">ReOpen Order</button>
                                </td>
                            </tr>
                        </table>
                            }
                        }


                    </div>
                    <script src="~/lib/signalr/signalr.js"></script>
                    <script src="~/js/orders.js"></script>

