@{
    ViewData["Title"] = "OrderInfo";
}
@model OrderViewModel

<table class="table" style="width: 80%; margin: auto; table-layout: fixed;">
    <tr style="border-bottom:double">
        <th scope="col">Name</th>
        <td>@Model.Name</td>
        <th scope="col">Order Time</th>
        <td>@Model.CreateTime.ToLocalTime().ToString("hh:mm tt")</td>

        <th scope="col">Complete Time</th>
        <td>
            @if (Model.CompleteTime?.ToLocalTime() > Model.CreateTime)
            {
                var time = Model.CompleteTime?.ToLocalTime().ToString("hh:mm tt");
            }
            else
            {
                <div>N/A</div>
            }
        </td>
        <th scope="col">Status</th>
        <td>
            @Model.Status
        </td>
    </tr>
    <tr>
        <th colspan="2">Order</th>
        <th colspan="4">Toppings</th>
        <th colspan="1">Size</th>
        <th colspan="1">Quantity</th>

    </tr>
    @foreach (var item in Model.OrderItems)
    {
        <tr>

            <td colspan="2">
                @item.MenuItem.Name
            </td>
            <td colspan="4" style="word-wrap:normal">
                @if (item.OrderItemTopping != null)
                {
                    var last = item.OrderItemTopping.Last();
                    foreach (var topping in item.OrderItemTopping)
                    {
                        if (topping == last)
                        {
                            <Text>@topping.Topping.ToppingName</Text>
                        }
                        else
                        {
                            <Text>@topping.Topping.ToppingName, </Text>
                        }
                    }
                }
            </td>
            @if (item.Size != null)
            {
                <td colspan="1">
                    @item.Size.MainValue
                </td>
            }
            else
            {
                <td colspan="1">N/A</td>
            }
            <td colspan="1">
                @item.Quantity.ToString()
            </td>

        </tr>
    }
    <tr style="border-bottom:dotted; border-top:double">
        <th colspan="1">
            Community
        </th>
        <td colspan="2">@Model.Community.Name</td>
        <th>Note</th>
        <td colspan="3" style="word-wrap:break-word">
            @Model.Note
        </td>
        <td colspan="1">
            <button type="button" class="btn btn-warning" typeof="submit" onclick="location.href = '@Url.Action("Cancel", "Orders", new { orderId = Model.Id })'">Cancel Order</button>
        </td>
    </tr>
</table>
<script src="~/lib/signalr/signalr.js"></script>
<script src="~/js/status.js"></script>
